* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    color: gray;
}

body {
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: row;
    background-color: #f7f7f7;
    font-family: "ProximaNova", sans-serif;
}

.leftBar {
    display: flex;
    background-color: white;
    height: 100vh;
    width: 80px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0px 10px 10px 0px;
    position: fixed;
}

.leftBar a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftBar img {
    padding: 20px;
    width: 30px;
}

.leftBar a:first-child {
    margin: 0px 0 20vh;
}

.leftBar a:last-child {
    margin: 20vh 0 0px;
}

.leftBar a:hover {
    background-color: #6fbcec6e;
    border-radius: 50%;
}

.gridWrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-template-rows: 50px 100px 250px 250px;
    grid-auto-rows: max-content;
    margin-left: 90px;
    margin-right: 10px;
    align-items: stretch;
}

.navbar {
    grid-column: 1/4;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}

.leftLinks {
    display: flex;
    align-items: center;
    height: 100%;
}

.leftLinks h1 {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.rightLinks {
    display: flex;
    align-items: center;
    height: 100%;
}

.rightLinks img {
    height: 30px;
    width: 30x;
    border-radius: 50%;
}

.navbar a:last-child {
    margin-left: 10px;
}

.box1 {
    grid-column: 1/3;
    background-color: #6fbcec;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 0.25fr 1fr 0.13fr;
    align-items: center;
    color: white;
    font-family: 'Nunito', sans-serif;
}

.box1 div {
    padding: 10px;
}

.box1 div:first-child {
    border-right: 1px solid white;
}

.box1 div:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1 a {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.box1 img {
    height: 50px;
    width: 50px;
    border: 4px white dashed;
    border-radius: 50%;
}

.box2 {
    grid-column: 3;
    grid-row: 2/5;
    border-radius: 10px;
    position: sticky;
    top: 0;
    padding: 10px 10px;
    height: 100vh;
}

.top a:hover {
    background-color: #6fbcecee;
}

.box2 img {
    height: auto;
    width: auto;
    max-width: 445px;
}

.top {
    background-color: #e2e2e2;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.2);
}

.top p {
    position: absolute;
    top: 54px;
    left: 23px;
    color: white;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}

.top a {
    position: absolute;
    top: 192px;
    right: 24px;
    background-color: aliceblue;
    border-radius: 50px;
    padding: 10px 9px;
    cursor: pointer;
    color: black;
    font-size: 13px;
}

.shedule {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 15px;
}

.box3 {
    grid-column: 1/3;
    grid-row: 3;
    background-color: #b0b0b2;
    border-radius: 10px;
    display: flex;
    justify-content: end;
    align-items: end;
    background-image: url('/photo/phone.english.png');
    background-size: cover;
    justify-content: space-between;
}

.box3 a:hover {
    background-color: #6fbcecee;
}

.text {
    font-family: 'Nunito', sans-serif;
    height: 100%;
    display: flex;
    font-size: 30px;
    color: white;
}

.box3 p {
    margin: 20px 20px 20px;
}

.box3 a {
    background-color: aliceblue;
    border-radius: 50px;
    padding: 10px 20px;
    border: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    color: black;
}

.box4 {
    grid-column: 1/3;
    grid-row: 4;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 30px 180px;
    background-color: white;
    padding: 10px;
    gap: 10px;
}

.box4 div:first-child {
    grid-column: 1/5;
    grid-row: 1;
}

.box4 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 100%;
}

.box5 {
    grid-column: 1/3;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.News {
    display: grid;
}

.newsItem {
    margin-right: 10px;
    /* Задайте бажаний відступ між елементами новин */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.newsItem img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    /* Задайте бажаний відступ між фото та текстом */
    border-radius: 7px;
}

.repetition {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 10px;
}

.repetitionBox {
    margin: 0px 10px;
    background-color: white;
    border-radius: 10px;

    padding: 10px 0 10px;
    box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.2);
}

.day {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.DayN {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.DayN p,
.DayN i {
    margin-bottom: 5px;
}

#myLineChart {
    width: 100%;
    height: 100%;
    box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.infoAndLink {
    margin-bottom: 10px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-icon {
    font-size: 12px;
}